@{
    ViewBag.Title = "Contact";
}

<h1 id="welcome">Contact Me</h1>

<h3 style="text-align:center">@ViewBag.SentMessage</h3>

<form method="post" action="@Url.Action("SendMail")">

    <div class="row">
        <div id="emailBox">
            <h2> Send Me A Message! </h2><br />
            <p>Please enter your message below, as well as your contact information so I can get back to you as soon as possible.</p>
            <hr />
            <div class="col-md-8">
                <section id="loginForm">
                    <div class="form-group">
                        <div class="col-md-10">
                            <p>Email: </p>
                            <input type="text" name="email" class="form-control" placeholder="youremail@email.com" /> <br />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <p>Subject: </p>
                            <input type="text" name="subject" class="form-control" placeholder="subject" /> <br />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <p>Body: </p>
                            <textarea class="form-control" name="body" placeholder="body of text here"></textarea> <br />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10"> <br />
                            <input type="submit" id="sendEmail" value="📧 Send" />
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</form>
<br />
<div id="emailBox" style="width: 900px; position: relative; right: 200px; text-align: center;">
    <h1>Or Reach Out To Me Directly</h1>
    <p style="font-size:20px;">Call <a href="tel:503-867-3534" tabindex="0">(503) 867-3534</a> Mon-Fri: 9am - 5pm PST.</p>
</div>
<br />
