
@{
    ViewBag.Title = "NotFound";
}
    <div id="rain">
        <img src="~/Images/rain.png" style="width:100%" />
        <div id="moveThisUpToTheRain">
            <h1 id="welcome">Uh Oh, Looks Like an Error Occurred!</h1>
            <p>It looks like this page doesn't actually exist. Please check the URL at the top bar of the browser or simply click on the sun to return Home. </p>
        </div>
        <a href="/Home/Index" target="_self" id="sunClick"><img src="~/Images/sun2.png" /></a>
        <a href="/Home/Index"><h3 id="sunClickText">Return <br /> Home</h3></a>
    </div>
