body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: linear-gradient(0deg, red 3%, yellow 30%, rgba(0,212,255,0) 90%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1, h2, h3 {
    font-family: 'Sunshiney', cursive;
}

p {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 15px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


#sunShine img {
    height: 70px;
    width: 70px;
    margin-bottom: -30px;
    position: relative;
    left: 250px;
    top: 16px;
}

.navbar {
    background-color: white;
    background-image: none;
    border-bottom: ridge;
    border-bottom-width: 4px;
    border-bottom-color: white;
}

#navBar a {
    color: black;
    font-family: 'Sunshiney', cursive;
    font-size: 30px;
}

    #navBar a:hover {
        color: red;
    }

#welcomeTitle {
    margin-left: 280px;
}

#welcome {
    text-align: center;
}

#myName {
    color: orangered;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 35px;
    position: relative;
    right: 20px;
}

#myImage img {
    height: 200px;
    width: 200px;
    border: solid;
    border-width: 2px;
    border-radius: 90px;
    margin-top: -60px;
}

#titleContainer {
    border: solid;
    background: linear-gradient(0deg, rgba(0,212,255,0) 3%, lightgoldenrodyellow 50%, lightblue 100%);
    /*background: white;*/
    box-shadow: 5px 5px 5px;
    padding: 20px;
    margin-top: 20px;
    border-width: 1px;
    border-radius: 10px;
}