/* Entire Website and Fonts CSS */

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: linear-gradient(0deg, red 3%, yellow 30%, rgba(0,212,255,0) 90%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1, h2, h3 {
    font-family: 'Sunshiney', cursive;
}

p, li {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 17px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Navbar */

.navbar {
    background-color: white;
    background-image: none;
    border-bottom: ridge;
    border-bottom-width: 4px;
    border-bottom-color: white;
}

#navBar a {
    color: black;
    font-family: 'Sunshiney', cursive;
    font-size: 30px;
}

    #navBar a:hover {
        color: red;
    }

/* Home Page */

#sunShine img {
    height: 70px;
    width: 70px;
    margin-bottom: -30px;
    position: relative;
    left: 120px;
    top: 16px;
}

#welcomeTitle {
    margin-left: 280px;
}

#welcome {
    text-align: center;
}

#myName {
    color: orangered;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 35px;
    position: relative;
    right: 20px;
}

#myImage img {
    height: 200px;
    width: 200px;
    border: solid;
    border-width: 2px;
    border-radius: 90px;
    margin-top: -60px;
}

#titleContainer {
    border: solid;
    /*background: linear-gradient(0deg, rgba(0,212,255,0) 3%, lightgoldenrodyellow 50%, lightblue 100%);*/
    background: white;
    box-shadow: 5px 5px 5px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    border-width: 1px;
    border-radius: 10px;
}

#titleContainer2 {
    border: solid;
    background: white;
    box-shadow: 5px 5px 5px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    border-width: 1px;
    border-radius: 10px;
    padding-bottom: 0px;
    height: 500px;
}

#titleContainer2 h1 {
    margin-left: 30px;
    font-size: 40px;
}


/* About Me Page */

#carouselPics {
    width: 350px;
    height: 400px;
    border-radius: 30px;
    margin-left: 45px;
}

#myCarousel {
    position: relative;
    left: 150px;
    bottom: 40px;
}

    #myCarousel .carousel-control {
        border-radius: 30px;
        margin-left: 45px;
        margin-right: 45px;
    }

#myName2 {
    color: black;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 45px;
    position: relative;
    left: 70px;
}

#callMeMaddy {
    font-size:25px; 
    position: relative;
    left: 200px;
}

#callMeMaddy1 {
    font-size:25px;
    margin-left: 30px;
}

#descriptionOfPics {
    font-size: 20px;
    margin-left: 50px;
    padding: 10px;
    border-radius: 20px;
    background-color: lightgoldenrodyellow;
    width: 450px;
}

/* Portfolio Page */

#gitButton {
    display: inline;
    margin-left: 10px;
    position: relative;
    top: 5px;
}

#gitDesc {
    display: inline;
}

#resumeButton {
    background-color: whitesmoke;
    color: black;
    border-style: solid;
    border-color: lightgrey;
    box-shadow: 0.5px 0.5px 0.5px lightgrey;
    border-width: 1px;
    border-radius: 5px;
    font-size: 14px;
}

#resButton {
    margin-left: 445px;
    margin-top: -32px;
}

 {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
#col1, #col2, #col3, #col4 {
    float: left;
    width: 50%;
    padding: 10px;
}

    #col1 img, #col2 img, #col3 img, #col4 img {
        margin-top: 12px;
    }

/* Clear floats after the columns */
#row1:after {
    content: "";
    display: table;
    clear: both;
}

#picDesc {
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: lightgrey;
}